@import "tailwindcss";

@theme {
  --color-primary: #ec4913;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221510;
  --font-display: "Epilogue", sans-serif;
}

@layer base {
  body {
    margin: 0;
    font-family: "Epilogue", sans-serif;
    background-color: #f8f6f6;
    color: #1e293b;
  }

  #root {
    width: 100%;
    max-width: 100%;
    text-align: left;
    border: none;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
